.header {
    background-color: #FFFFFF;
}

.header__title {
    font-style: jsMath-cmti10;
    /*フォント入れないと*/
    color: #F5C800;
}

main {
    background-color: #F8F8F8;
    padding-bottom: 200px;
}

.main__desplay {
    width: 60%;
    margin: 20px auto;
}
.breadcrumbs {
    font-size: 12px;
    padding-top: 50px;
}
.toppage {
    color: #0085FF;
    text-decoration: none;
}

.detail__content {
    width: 60%;
    margin: 0 auto;
}
.parent {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr;
}

.form__group-img {
    grid-row: 1/1;
    grid-column: 1/1;
    
}
.image {
    width: 350px;
    height: auto;

}
.form__select--button{
    display: block;
}

.form__group-upper {
    grid-row: 1/1;
    grid-column: 2/2;
}

.form__group-title {
        margin-bottom: 10px;
}
.form__label--item {
    color: #4B4B4B;
    font-size: 14px;
}

.form__group-content {
    margin-bottom: 30px;
    color: #4B4B4B;
}

.form__input--text input {
    height: 30px;
    width: 100%;
    border: solid 1px #E0DFDE;
}

.form__select--button input {
    color: #4B4B4B;
}

/*.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.radio-text {
    cursor: pointer;
    display: inline-block;
    padding: 5px 0 5px 30px;
    position: relative;
    font-size: 14px;
    color: #4B4B4B;  
}
input[type=radio]:checked+.radio-text::after {
    opacity: 1;
}
.radio-text::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #4B4B4B;
    border-radius: 50%;
}
.radio-text::after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #4B4B4B;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    opacity: 0;
}*/

.season__gap {
    margin-right: 20px;
}

.form__input--textarea {
    height: 180px;
    width: 100%;
    border: solid 1px #E0DFDE;
}



.form__error {
    color: #FD0707;
}


.form__button {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.form__button-return {
    display: inline-block;
    padding: 10px 50px;
    background-color: #E0DFDE;
    border: none;
    box-shadow: 0 3px 5px #7d7d7d;
    width: 150px;
}

.form__button-submit {
    display: inline-block;
    padding: 10px 30px;
    background-color: #F5C800;
    border: none;
    box-shadow: 0 3px 5px #7d7d7d;
    width: 150px;
}

.form__button-delete {
    float: right;
}
