.header {
    background-color: #FFFFFF;
}

.header__title {
    font-style: jsMath-cmti10;/*フォント入れないと*/
    color: #F5C800;
}

main {
    background-color: #F8F8F8;
    padding-bottom: 200px;
}

.register__content {
    width: 40%;
    margin: 0 auto;
}
.registration__title {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    height: 50px;
    margin-top: 20px;

}

.form__group {
    width: 100%;
    margin: 10px auto;
}


.form__group-title {
    height: 30px;
}
.form__label--item {
    color: #4B4B4B;
    font-size: 14px;
}
.form__label--required {
    background-color: #FD0707;
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 10px;
}
.form__label--multi {
    color: #FD0707;
    font-size: 14px;
    margin-left: 10px;
}


.form__group-content {
    margin-bottom: 30px;
    color: #4B4B4B;
}
.form__input--text input{
    width: 100%;
    height: 30px;
    border: solid 1px #E0DFDE;
}

.form__image-preview {
    width: 100%;
}
.reader_image {
    width: 350px;
    height: auto;
    margin-top: 10px;
    border-radius: 4px;
}

.season__gap {
    margin-right: 50px;
}
.form__input--textarea textarea{
    height: 120px;
    width: 100%;
    border: solid 1px #E0DFDE;
    color: #4B4B4B;
}


.form__error {
    color: #FD0707;
}


.form__button {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.form__button-return {
    display: inline-block;
    padding:  10px 50px;
    background-color: #E0DFDE;
    border: none;
    box-shadow: 0 3px 5px #7d7d7d;
    margin-right: 10px;
}
.form__button-submit {
    display: inline-block;
    padding: 10px 50px;
    background-color: #F5C800;
    border: none;
    box-shadow: 0 3px 5px  #7d7d7d;
}